# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Define homebrew paths, used in postgres aliases
export BREW_BASE="/usr/local/"
export BREW_BIN="$BREW_BASE/bin"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Define where postgres stores it's data
export PGDATA="/usr/local/var/postgres/"

# Enable virtualenvwrapper commands 
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel
source /usr/local/bin/virtualenvwrapper.sh

# Need this to properly run bundler on civicinsight repo 
export GITHUB_BOT_USERNAME='civicbot'
export GITHUB_BOT_PASSWORD='S36Qn4f7mA8b9AvZ'

# This is so that psycopg2 package works.
export DYLD_FALLBACK_LIBRARY_PATH=/Applications/Postgres93.app/Contents/MacOS/lib:$DYLD_LIBRARY_PATH


# Point Civic Insight to test analytics API in local environment.
export SEGMENT_IO_API_LOCAL='gkl6bds22h'
export ANALYTICS_API='http://localhost:5000/'
export LOCAL_POSTGRESQL_URL='postgres://postgres:postgres@localhost:5432/civicinsight-dev'
export HEROKU_POSTGRESQL_CHARCOAL_URL='postgres://u51h5verlcq9p8:pb6mn0ntobjcm4b0t8vhcj5en30@ec2-23-23-179-203.compute-1.amazonaws.com:5532/ddb7m40nhb3ima'


# Settings so Dedupe can do parallel processing
export CFLAGS=-Qunused-arguments
export CPPFLAGS=-Qunused-arguments